
body {
  background-color: #f6f1ef;
  font-family: Arial, Helvetica, sans-serif;
}



input[type=text], input[type=password] {
  width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px solid;
  border-radius: 25px;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: solid 2px black;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #f6f1ef;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 2px solid #888;
  border-radius: 25px;
  width: 50%; /* Could be more or less, depending on screen size */
}


 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}




hr {
  height:3px;
  width:91%;
  background-color:black;
  border-width: 0px;
}

header {
  background-color: #333;
  padding: 0px;
  float: left;
  margin-left: 4.5%;
  width: 90%;
  text-align: center;
  font-size: 35px;
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: #f6f1ef;
}

.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  margin-left: 3px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #333;
  color: #f6f1ef;
  border-radius: 15px;
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
  float: right;
  margin-bottom: 1px;
  padding-bottom: 6px;
  color: white;
}

.topnav a.active {
  background-color: #333;
  color: #f6f1ef;
  border-radius: 15px;
}






article {
  float: left;
  margin-left: 4.8%;
  padding: 0px;
  margin-bottom: 50px;
  width: 90%;
  background-color: #f6f1ef;
}


section::after {
  content: "";
  display: table;
  clear: both;
}


.card {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.8s;
  width: 80%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}



h1 {
 font-size: 40px;
}


footer {
  background-color: #777;
  float: left;
  margin-left: 4.5%;
  width: 90%;
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

