body {
  background-color: #f6f1ef;
  font-family: Arial, Helvetica, sans-serif;
}


.filterDiv {
  float: left;
  background-color: #f6f1ef;
  color: #ffffff;
  width: 15%;
  line-height: 100px;
  text-align: center;
  margin: 10px;
  display: none;
  border-radius: 25px;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
  border-radius: 25px;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 20px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  font-style: bold;
  background-color: #777;
  border-radius: 25px;
  color: white;
}

.btn.active {
  background-color: #333;
  color: white;
  border-radius: 25px;
}



.containerf {
  position: relative;
  width: 100%;
  border-radius: 25px;
}

.containera {
  position: relative;
  width: 96%;
  border: 2px solid black;
  border-radius: 25px;
  background-color: #f6f1ef;
  color: black;
  padding: 2px;
  text-align: center;
  margin-top:5px;
  margin-bottom:10px;
  line-height: 60%;
}

.imagef {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .8s ease;
  backface-visibility: hidden;
  border-radius: 25px;
}

.middlef {
  transition: .8s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containerf:hover .imagef {
  opacity: 0.3;
}

.containerf:hover .middlef {
  opacity: 1;
}







hr {
  height:3px;
  width:91%;
  background-color:black;
  border-width: 0px;
}

header {
  background-color: #f6f1ef;
  padding: 0px;
  float: left;
  margin-left: 4.5%;
  width: 90%;
  text-align: center;
  font-size: 35px;
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: #f6f1ef;
}

.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  margin-left: 3px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #333;
  color: #f6f1ef;
  border-radius: 15px;
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
  float: right;
  margin-bottom: 1px;
  padding-bottom: 6px;
  color: white;
}

.topnav a.active {
  background-color: #333;
  color: #f6f1ef;
  border-radius: 15px;
}



/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
  float: right;
  margin-bottom: 2px;
  padding-bottom: 5px;
  color: white;
}

.topnav a.active {
  background-color: #333;
  color: #f6f1ef;
  border-radius: 15px;
}


.containerd {
  position: relative;
  width: 80%;
  border-radius: 25px;
}

.imaged {
  display: block;
  width: 100%;
  height: auto;
}

.overlayd {
  position: absolute;
  border-radius:25px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #333;
  line-height: 120%;
}

.containerd:hover .overlayd {
  opacity: 1;
}

.textd {
  color: white;
  font-size: 25px;
  padding: 1px;
  float:left;
  margin-top: 20%;
  margin-left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}




.button {
  border-radius: 25px;
  background-color: #333;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 34px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 80%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


article {
  float: left;
  margin-left: 4.8%;
  padding: 0px;
  margin-bottom: 50px;
  width: 90%;
  background-color: #f6f1ef;
}


section::after {
  content: "";
  display: table;
  clear: both;
}





h1 {
 font-size: 40px;
}


footer {
  background-color: #333;
  
  float: left;
  margin-left: 4.5%;
  margin-bottom: 1%;
  width: 90%;
  padding: 10px;
  text-align: center;
  color: white;
  border-radius: 25px;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

